<div class="jumbotron">
  <div class="container">
    <h1 class="display-4">Dusty's Portfolio</h1>
    <p class="lead"> A list of my most recent projects.</p>
  </div>
</div>

<div class="container">

    <%= render "shared/pfv" %>
    <hr>
    <%= render "shared/mcmovie" %>
    <hr>
    <%= render "shared/ember" %>
    <hr>
    <%= render "shared/videoreview"%>
    <hr>
    <%= render "shared/weather"%>
    <hr>
    <%= render "shared/prs"%>
    <hr>
</div>