<div class="jumbotron">
  <div class="container">
    <h1 class="display-4">Dusty McCord</h1>
    <p class="lead"> An Aspiring web developer.</p>
    <a href="https://github.com/dustatron">GitHub profile </a> | <a href="https://codepen.io/Dustatron/"> Codepen.io</a>  
  </div>
</div>

<div class="container">

    <%= render "shared/pfv" %>
    <hr>
    <%= render "shared/mcmovie" %>
    <hr>
    <%= render "shared/ember" %>
    <hr>
    <%= render "shared/videoreview"%>
    <hr>
    <%= render "shared/weather"%>
    <hr>
    <%= render "shared/prs"%>
    <hr>
</div>